CHAT_MODEL_NAME="azure_openai:gpt-4.1"
CHAT_DEPLOYMENT_NAME="gpt-4.1"

AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
OPENAI_API_VERSION=""

AGENT_OBS_URL=http://localhost:4317
AGENT_FRAMEWORK=langchain
AGENT_OBS_PROJECT=default
AGENT_OBS_CLIENT_ID=
AGENT_OBS_CLIENT_SECRET=