CHAT_MODEL_NAME="azure_openai:gpt-4.1"
CHAT_DEPLOYMENT_NAME="gpt-4.1"

AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
OPENAI_API_VERSION=""

GEMINI_API_KEY=""

AGENT_OBS_URL=http://localhost:4317
AGENT_FRAMEWORK=langchain
AGENT_OBS_PROJECT=default
AGENT_OBS_CLIENT_ID=
AGENT_OBS_CLIENT_SECRET=
AGENT_OBS_USER_ID=
AGENT_OBS_USER_NAME=
AGENT_OBS_USER_EMAIL=
AGENT_OBS_USER_ACCOUNT=
AGENT_OBS_USER_ROLE=
