GOOGLE_GENAI_USE_VERTEXAI=
GOOGLE_API_KEY=

AGENT_OBS_URL=http://localhost:4317
AGENT_FRAMEWORK=google-adk
AGENT_OBS_PROJECT=demo
AGENT_OBS_CLIENT_ID=
AGENT_OBS_CLIENT_SECRET=
AGENT_OBS_USER_ID=demo-user
AGENT_OBS_USER_NAME=Demo User
AGENT_OBS_USER_EMAIL=demo.user@example.com
AGENT_OBS_USER_ACCOUNT=demo-account
AGENT_OBS_USER_ROLE=tester
